@model PagedList.IPagedList<EventPlus.Models.EventViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "All Events";
}
<div class="container box">
    <section id="schedule" class="row mb-100">
        <div class="title-start schedule-menu col-md-4 col-md-offset-4 mt-100">
            <br />
            @*@if (Session["LoggedInUserType"] == "Organizer")
            {
                <h2 class="text-black-50 mt-5">
                    My Events
                </h2>
            }
            else
            {
                <h2 class="text-black-50 mt-5">
                    Events
                </h2>
            }*@

            <h2 class="text-black-50 mt-5">
                Events
            </h2>

            <p class="sub-text text-center">See Events</p>
            <hr class="divider my-4" />
            @if (Session["LoggedInUserType"] != null && Session["LoggedInUserType"] != "Attendee")
            {
        <div class="text-center">
            <a class="btn btn-primary" href="CreateEvent">Add Event</a>
            <br />
            <br />
            @using (Html.BeginForm())
            {
                <p>
                    Search: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-primary form-group login-button" />
                </p>
            }
        </div>
            }
        </div>
        <ul class="timeline">

            @if (Model != null)
            {

                {
                    int count = 0;
                    foreach (var item in Model)
                    {

                        <li class="@(count%2==0?"":"timeline-inverted")">

                            <div class="timeline-badge">
                                <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> @Html.ActionLink(item.Name, "EventDetail", new { eventID = item.ID })</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6">@item.Description</p>
                                    <p class="timeline-other col-md-6">

                                        <em class="timeline-item">
                                            Venue : @item.Venue
                                        </em>
                                        <em class="timeline-item">
                                            Type : @item.Type
                                        </em>
                                        <em class="timeline-item">
                                            Ticket: @item.NoOfTickets
                                        </em>
                                        <em class="timeline-item">
                                            Date & Time : @item.DateTime
                                        </em>

                                        @if (item.GetEventRecurringValue(item.Recurring) == 1)
                                        {
                                            <em class="timeline-item">
                                                Recurring : Yes
                                            </em>
                                        }
                                        else
                                        {
                                            <em class="timeline-item">
                                                Recurring : No
                                            </em>
                                        }

                                    </p>

                                </div>

                            </div>
                        </li>

                        count = count + 1;
                    }
                }
                <li class="clearfix no-float"></li>
            }
        </ul>

        <br />
        <br />
        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("AllEvents", new { page, pageSize = Model.PageSize }))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Events
        </div>
    </section>
</div>