<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EventPlus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!--== CSS Files ==-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/style.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/flexslider.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/fancySelect.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/responsive.css" rel="stylesheet" media="screen">
    <link href="~/Content/PagedList.css" rel="stylesheet" media="screen">


    <!--== Google Fonts ==-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body id="page-top">
    <header id="">
        <div id="menu" class="header-menu fixed">
            <div class="box">
                <div class="row">
                    <nav role="navigation" class="col-sm-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!--== Logo ==-->
                            <span class="navbar-brand logo">
                                EventsPlus
                            </span>

                        </div>
                        <div class="navbar-collapse collapse">

                            <!--== Navigation Menu ==-->
                            <ul class="nav navbar-nav">
                                @if (Session["LoggedInUserType"] != null)
                                {
                                    <li><a href="">Hello, @Session["LoggedInUserFirstName"]!</a></li>
                                }
                                <li class="current"><a href="/Home#header">Home</a></li>
                                <li><a href="/Home#about">About us</a></li>
                                <li><a href="/Home#blog">Blog</a></li>
                                <li><a href="/Home#testimonial">Testimonials</a></li>
                                <li><a href="/Home#contact">Contact</a></li>
                                @if (Session["LoggedInUserType"] != null)
                                {
                                    @*<li>
                                        @Html.ActionLink(Session["LoggedInUserType"] == "Organizer" ? "My Events" : "Events", "AllEvents", "Event", new { area = "" }, new { @class = "" })
                                    </li>*@

                                    <li>
                                        @Html.ActionLink("Events", "AllEvents", "Event", new { area = "" }, new { @class = "" })
                                    </li>

                                    if (Session["LoggedInUserType"] == "Admin")
                                    {
                                        <li>
                                            @Html.ActionLink("Users", "AllUsers", "User", new { area = "" }, new { @class = "" })
                                        </li>
                                    }
                                    <li>
                                        @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Buy Tickets", "AllEvents", "Event", new { area = "" }, new { @class = "" })
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.ActionLink("Login", "SignIn", "Home", new { area = "" }, new { @class = "" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Register", "SignUp", "Home", new { area = "" }, new { @class = "" })
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="copyright">© Copyright 2021 EventsPlus</p>
                </div>
                
            </div>
        </div>
    </footer>

    <!--== Javascript Files ==-->
    <script src="~/Scripts/js/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.js"></script>
    <script src="~/Scripts/js/jquery.nav.js"></script>
    <script src="~/Scripts/js/jquery.flexslider.js"></script>
    <script src="~/Scripts/js/jquery.accordion.js"></script>
    <script src="~/Scripts/js/jquery.placeholder.js"></script>
    <script src="~/Scripts/js/jquery.fitvids.js"></script>
    <script src="~/Scripts/js/gmap3.js"></script>
    <script src="~/Scripts/js/fancySelect.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script type="text/javascript">$(document).ready(function () {

            $("#testimonial-container").owlCarousel({

                navigation: false, // Show next and prev buttons
                slideSpeed: 700,
                paginationSpeed: 400,
                singleItem: true,
            });

        });</script>
</body>
</html>
