
@model IEnumerable<EventPlus.Models.UserViewModel>
@{
    ViewBag.Title = "All Users";
}
    <div class="container box">
        <section id="team" class="team mb-100">
            <div class="container">
                <div class="title-start team-menu col-md-4 col-md-offset-4 mt-100 mb-100">
                    <h2 class="team-heading">Users</h2>
                    <p class="sub-text text-center">All Users on the platform</p>
                    <br />
                    <div class="text-center">
                        <a class="btn btn-primary" href="CreateUser">Add User</a>
                    </div>
                </div>
                
            </div>
            <div class="team-member row">
                @if (Model != null)
                {
                    int counter = 0;
                    foreach (var item in Model)
                    {

                        <div class="col-md-3 col-sm-6 member">
                            <img class="blog-image" src="~/Images/team@(counter%4 + 1).jpg" width="100%" height="280" alt="Blog Image 2" />
                            <p class="name-member"> @Html.ActionLink(item.FName + " " + item.LName, "UserDetail", new { userID = item.ID })</p>
                            <ul class="team-ist">
                                <li>@item.Email</li>
                                <li>@item.Address</li>
                                <li>@item.Phone</li>
                                <li>@item.Gender</li>
                                <li>@item.DateOfBirth.Year-@item.DateOfBirth.Month-@item.DateOfBirth.Day</li>
                            </ul>
                            @*<div class="team-social">
                                <i class="fa fa-2x fa-tumblr-square"></i>
                                <i class="fa fa-2x fa-facebook"></i>
                                <i class="fa fa-2x fa-twitter"></i>
                                <i class="fa fa-2x fa-linkedin"></i>
                            </div>*@
                        </div>
                        counter = counter + 1;

                    }

                }
            </div>

        </section>
    </div>